table,th,td{
    border:2px gray solid;
    border-collapse: collapse;
    color:white;
    width: 7%;
    padding: 20px;
    text-align: center;
}

.table{
    margin: 5%;
}

th{
    background-color: aqua;
}

td{
    background-color:black;
}
